<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>HTTP {{ code }} | {{ codetext }} </title>
  <meta name="description" content="">
  <meta name="author" content="Brie Carranza">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="./static/css/normalize.css">
  <link rel="stylesheet" href="./static/css/skeleton.css">
  <link rel="stylesheet" href="./static/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="../../dist/images/favicon.png"> -->

</head>
<body>

    <div class="section hero">







      
        <div class="container">

<!-- NAV-->
<div class="row">
  <div class="twelve columns" id="nav">
    <div class="header">
      <ul class="main-nav">
          <li><a class="xxclass" href="/">Home</a></li>
          <li>  <a class="xxclass" href="/about">About</a></li>
          <li><a class="xxclass" href="https://gitlab.com/brie/httpmeow">Source</a></li>
      </ul>
    </div> 
  </div>
</div>
<!-- NAV -->

          <div class="row">
            <div class="twelve columns">
              <h2>HTTP {{ code }} {{ codetext }}</h2>
              <img class="u-max-full-width" src="static/{{code}}.png">
            </div>
          <div class="row">
            <p><b>Prompt:</b> {{ prompt }}</p>
          </div>
          </div>
        </div>
    </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
